<!DOCTYPE html>
<html>

<head>
  <title>M2W</title>
  <meta charset="utf-8" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<body>
  {{!-- <div class="navbar-fixed">
    <nav class="blue">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">M2W</a>
        <ul id="nav-mobile" class="left">
          <li>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <ul id="slide-out" class="sidenav">
    <li><a href="#!"></a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="/login" target="_self">Se connecter</a></li>
    <li><a class="waves-effect" href="/logout" target="_self">S'inscrire</a></li>
  </ul> --}}
  <div class="navbar-fixed">
  <nav class="blue">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center !important">M2W</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/login">Se connecter</a></li>
        <li><a href="/signup">S'inscrire</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a></a></li>
        <li><div class="divider"></div></li>
        <li><a href="/login">Se connecter</a></li>
        <li><a href="/signup">S'inscrire</a></li>
      </ul>
    </div>
  </nav>
  </div>


  {{{body}}}
  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h5 class="white-text">M2W</h5>
          <p class="grey-text text-lighten-4">"Message to the world" is an open platform where anyone can post a message that anybody will be able to see. This
            website is hosted on Heroku and uses Vue JS for the front-end and Express JS for the back end. You can find the
            source code on Github (see the link below).</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2018 Copyright Barthélémy Bulteau
        <a class="grey-text text-lighten-4 right" href="#!">GitHub
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </footer>
  {{!-- JQuery --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script>
    function removeOverlay() {
      $('div[id^=sidenav-overlay]').remove();
    }
    $(document).ready(function () {
      $('.button-collapse').sideNav({
        closeOnClick: true
      }
      );
      $('.button-collapse').click(removeOverlay);
    });
  </script>
</body>

</html>