<div class="container">
    <h3>S'inscrire</h3><br>
    {{#if error}}
    <div class="row">
        <div class="col s12 m6">
            <div class="card red white">
                <div class="card-content red-text">
                    <span class="card-title">Erreur</span>
                    <p>{{error}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    <br>
    <form action="/signup" method="post">
        <div>
            <label>Nom d'utilisateur :</label>
            <input type="text" name="username" />
        </div>
        <div>
            <label>Email :</label>
            <input type="text" name="email" />
        </div>
        <div>
            <label>Mot de passe :</label>
            <input type="password" name="password" />
        </div>
        <br>
        <div>
            <input class="btn" type="submit" value="Envoyer" />
        </div>
    </form>
</div>

<br>
<br>